/* In this file you can overwrite/extend the given magpie-styles or declare your own ones */

.custom-border {
   border: 1px solid powderblue;
}


/* gives the title a nice blue color that fits to the background */
.magpie-view-title {
    color: #5187BA;
}


/* gives the background a nice blue color thats easy on the eyes */
body{
    color: #303030;
    background-color: rgba(215, 249, 253, 0.79);
    font-family: 'Roboto', sans-serif;
    text-align:center;
}


/*gives the button a dark blue background color if checked */
input[type= "radio"]:checked + label{
    background-color: #324D93;
    border: 1px solid #324D93;
    color: white;
}


/* gets rid of the default "input[name=answer]" so we can use other formats */
/* used in 03_ line 98 for example */

input[type="radio"]{
  display: none;
}
